header {
    background-color: var(--color-bg-primary);
    height: 70px;
    display: flex;
    align-items: center;
}

.nav-main {
    color: var(--color-font-primary);
    font-size: 16px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img {
    width: 30px;
    height: 28px;
}

.nav-content {
    display: flex;
    align-items: center;
}

.nav-item {
    margin-right: 20px;
}