@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --color-bg-primary: #2D28FF;
  --color-bg-secundary: #ffffff;
  --color-bg-tertiary: #c7c7c7;

  --color-font-primary: #ffffff;
  --color-font-secundary: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter";
}


a,
a:hover {
  text-decoration: none;
  color: unset;
}

html,
body {
  background-color: var(--color-bg-secundary);
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.mgt20 {
  margin-top: 20px;
}